<footer class="footer">
    <!-- footer contact start -->
    <section class="footer-contact">
        <div class="footer-contact-container">
            <h1>企業方案 IT 服務 / 解決方案諮詢<br />歡迎聯繫智慧資安</h1>
            <p>uniXecure 提供資安管理循環，提供 <span class="text-secondary-300">事前預防</span>、<span class="text-secondary-300">事中偵測</span>、<span class="text-secondary-300">事後應處</span> 完整一站式資安服務，滿足營運及落實資安需求。以全天候 24x7 小時維運服務，整合人員、技術與程序，解決資安合規性、資安人才缺乏窘境，並與企業一起因應日益嚴峻的資安挑戰，守護企業的資訊安全，協助企業無後顧之憂發展組織核心業務。</p>
            <a href="#" class="btn-secondary">聯絡我們</a>
        </div>
    </section>
    <!-- footer contact end -->
    <!-- footer Introduction start -->
    <section class="footer-Introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 text-center text-lg-left">
                    <img src="../assets/images/logo.svg" alt="uniXecure智慧資安科技logo" class="img-fluid">
                    <ul class="list-unstyled">
                        <li>{{ introduction.address }}</li>
                        <li><a href="mailto:{{ introduction.email }}">{{ introduction.email }}</a></li>
                    </ul>
                    <ul class="footer-Introduction-icon-group d-flex justify-content-center justify-content-lg-start">
                        <li><a href="https://www.youtube.com/@unixecure3203" target="_blank" title="uniXecure youtube"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.facebook.com/uniXecure/" target="_blank" title="uniXecure facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/unixecure/posts" target="_blank" title="uniXecurelinkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.104.com.tw/company/1a2x6bmeqd" target="_blank" title="uniXecure 104人力銀行"><img src="../assets/images/104_logo.png" alt="104人力銀行logo" class="img-fluid"></a></li>
                    </ul>
                </div>
                <div class="col-lg-7">
                    <div class="d-xs-flex justify-content-between">
                        <div class="footer-navbar mb-4 mb-xs-0">
                            <p class="footer-navbar-title fs-8">關於我們</p>
                            <div class="footer-navbar-link-group">
                                <a href="#" title="公司簡介">公司簡介</a>
                                <a href="#" title="聯絡我們">聯絡我們</a>
                            </div>
                        </div>
                        <div class="footer-navbar mb-4 mb-xs-0">
                            <p class="footer-navbar-title fs-8">資安法專區</p>
                            <div class="footer-navbar-link-group d-xs-flex information-security">
                                <div>
                                    <a href="#" title="MOC">MOC</a>
                                    <a href="#" title="HEIS">HEIS</a>
                                    <a href="#" title="SIVAS">SIVAS</a>
                                    <a href="#" title="SRMAS">SRMAS</a>
                                </div>
                                <div>
                                    <a href="#" title="LUCAS">LUCAS</a>
                                    <a href="#" title="SESC">SESC</a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-navbar mb-4 mb-xs-0">
                            <p class="footer-navbar-title fs-8">代理產品</p>
                            <div class="footer-navbar-link-group">
                                <a href="#" title="所有代理產品">所有代理產品</a>
                            </div>
                        </div>
                        <div class="footer-navbar">
                            <p class="footer-navbar-title fs-8">最新消息</p>
                            <div class="footer-navbar-link-group">
                                <a href="#" title="成功案例">成功案例</a>
                                <a href="#" title="新聞中心">新聞中心</a>
                                <a href="#" title="影音專區">影音專區</a>
                                <a href="#" title="行銷活動">行銷活動</a>
                                <a href="#" title="報告書專區">報告書專區</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center text-lg-right footer-sgs">
                    <img src="../assets/images/sgs.png" alt="sgs" class="img-fluid">
                </div>
                <div class="col-12 d-lg-flex justify-content-between">
                    <p class="mb-4 mb-lg-0"><a href="#">著作權及隱私權聲明</a></p>
                    <p>智慧資安科技股份有限公司 © {{ year }}｜統編：90254779</p>
                </div>
            </div>
        </div>
    </section>
    <!-- footer Introduction end -->
</footer>