<section class="index-banner">
    <!-- Swiper -->
    <div class="swiper bannerSwiper">
        <div class="swiper-wrapper">
            <!-- item -->
            <div class="swiper-slide">
                <div class="banner-item">
                    <img src="../../assets/images/index/banner01.png" alt="" loading="lazy">
                    <div class="container-absolute z-index-1 d-flex align-items-center">
                        <div class="banner-item-body">
                            <article>
                                <h1>智慧資安科技<br />資訊安全治理首選廠商</h1>
                                <p class="mb-4">具備首屈一指國內外資安產品、身經百戰資安專家團隊、高效合規的資訊安全流程！</p>
                                <a href="ch/contact.html" class="btn-secondary">聯絡我們</a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>