<section class="bg-primary-50 cookies-box">
    <div class="d-lg-flex align-items-center justify-content-lg-center">
        <p>當您使用本網站即表示您同意 Cookies 技術支援，以提供您更佳的使用體驗。更多資訊請參閱<a href="ch/copyright.html" class="body-links mb-0" title="隱私權聲明">隱私權聲明</a>。</p>
        <div class="ml-0 ml-lg-3 mt-3 mt-lg-0">
            <button type="button" class="btn btn-secondary mr-3 consentButton">同意 Cookies</button>
            <button type="button" class="btn fs-5 bg-transparent rejectButton"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
</section>