<!-- cookies start -->
<app-cookies></app-cookies>
<!-- cookies end -->
<!-- banner start -->
<app-index-banner></app-index-banner>
<!-- banner end -->
<section class="py-9 overflow-x-hidden bg-gray-50">
    <!-- background images start -->
    <div class="container-absolute z-index-1 d-none d-lg-block">
        <div class="container h-100 position-relative">
            <span class="hexagon-bg-right position-absolute">
                <img src="../../assets/images/hexagon_right.svg" alt="">
            </span>
            <span class="hexagon-bg-left position-absolute">
                <img src="../../assets/images/hexagon_left.svg" alt="">
            </span>
        </div>
    </div>
    <!-- background images end -->
    <div class="mw-760">
        <div class="row">
            <div class="col-12">
                <article class="fs-6 text-center">
                    <p class="mb-6">uniXecure 提供全天候 7x24 小時的資安管理循環服務，包括事前預防、事中偵測、事後應處等完整一站式資安解決方案及服務。透過整合人員、技術與程序，解決資安合規性和資安人才缺乏等問題，守護企業資訊安全，協助企業發展核心業務。</p>
                    <p class="mb-6">智慧資安科技（uniXecure）是臺灣資訊服務產業龍頭「精誠資訊 SYSTEX Corporation」（台股代號 6214）100% 轉投資的子公司。成立於 1997 年，擁有 20 多年的資安經驗，代理超過 30 個國際資安品牌，服務範圍涵蓋跨國、跨產業、公私營部門，提供網路監控、威脅偵測及事件應變等服務。</p>
                </article>
            </div>
        </div>
        <!-- counting start -->
        <app-index-counting></app-index-counting>
        <!-- counting enwd -->
    </div>
</section>
<!-- 我們的專業服務項目 -->
<section class="py-9 index-serve overflow-hidden">
    <div class="container">
        <h1 class="text-center text-white mb-5">我們的專業服務項目</h1>
        <div class="row index-serve-flowLine">
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="d-md-flex align-items-center justify-content-center h-100 pr-lg-4">
                    <a href="ch/serve_moc.html" class="item index-serve-moc bg-primary-600 border border-white text-center text-white px-3 py-5">
                        <span class="d-block fs-4 mb-2 fw-bolder">MOC</span>
                        <span class="d-block fw-bolder fs-6">資安監控維運中心</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="text-center index-serve-block px-md-3 py-4 px-0 h-100 d-flex flex-column">
                    <div class="mb-3">
                        <span class="d-inline-block bg-primary-700 text-white p-2">管理層 Insight</span>
                    </div>
                    <div class="flex-grow-1 d-md-flex flex-lg-column justify-content-center gap-2">
                        <a href="ch/serve_sesc.html" class="item bg-white px-3 py-4 mb-3 mb-md-0 fw-bolder index-serve-sesc">
                            <span class="d-block fs-4 mb-2">SESC</span>
                            <span class="d-block fs-6">電子郵件過濾</span>
                        </a>
                        <a href="ch/serve_heis.html" class="item bg-white px-3 py-4 fw-bolder index-serve-heis">
                            <span class="d-block fs-4 mb-2">HEIS</span>
                            <span class="d-block fs-6">社交工程演練</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="text-center index-serve-block px-md-3 py-4 px-0 h-100 d-flex flex-column">
                    <div class="mb-3">
                        <span class="d-inline-block bg-primary-700 text-white p-2">邊境管制 Perameter</span>
                    </div>
                    <div class="flex-grow-1 d-md-flex flex-lg-column justify-content-center gap-2">
                        <a href="ch/serve_soc.html" class="item bg-white px-3 py-4 mb-3 mb-md-0 fw-bolder index-serve-soc">
                            <span class="d-block fs-4 mb-2">SOC</span>
                            <span class="d-block fs-6">資通安全威脅偵測管理</span>
                        </a>
                        <a href="ch/serve_srmas.html" class="item bg-white px-3 py-4 mb-3 mb-md-0 fw-bolder index-serve-srmas">
                            <span class="d-block fs-4 mb-2 fw-bolder">SRMAS</span>
                            <span class="d-block fw-bolder fs-6">系統資源監測</span>
                        </a>
                        <a href="ch/serve_lucas.html" class="item bg-white px-3 py-4 fw-bolder index-serve-lucas">
                            <span class="d-block fs-4 mb-2">LUCAS</span>
                            <span class="d-block fs-6">日誌管理系統</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 mb-lg-0">
                <div class="text-center index-serve-block px-md-3 py-4 px-0 h-100 d-flex flex-column">
                    <div class="mb-3">
                        <span class="d-inline-block bg-primary-700 text-white p-2">終端管制 Terminal</span>
                    </div>
                    <div class="flex-grow-1 d-md-flex flex-lg-column justify-content-center gap-2">
                        <a href="ch/serve_sivas.html" class="item bg-white px-3 py-4 mb-3 mb-md-0 fw-bolder index-serve-sivas">
                            <span class="d-block fs-4 mb-2">SIVAS</span>
                            <span class="d-block fs-6">資通安全弱點通報</span>
                        </a>
                        <div class="item bg-white px-3 py-4 mb-3 mb-md-0 fw-bolder index-serve-ssc">
                            <span class="d-block fs-4 mb-2">SSC</span>
                            <span class="d-block fs-6">端點檢測管理系統</span>
                        </div>
                        <div class="item bg-white px-3 py-4 mb-3 mb-md-0 fw-bolder index-serve-edr">
                            <span class="d-block fs-4 mb-2">EDR</span>
                            <span class="d-blockfs-6">端點偵測及應變機制 </span>
                        </div>
                        <div class="item bg-white px-3 py-4 fw-bolder index-serve-isms">
                            <span class="d-block fs-4 mb-2 fw-bolder">ISMS</span>
                            <span class="d-block fs-6">文件管理系統</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- 多項國際認證，值得信賴 -->
<section class="py-9 overflow-hidden">
    <!-- background images start -->
    <div class="container-absolute position-fixed bg-primary-50">
        <div class="container h-100 position-relative">
            <span class="index-serve-hexagon-leftBottom position-absolute">
                <img src="../../assets/images/index/index-serve-hexagon.svg" alt="">
            </span>
            <span class="index-serve-hexagon-rightTop position-absolute">
                <img src="../../assets/images/index/index-serve-hexagon.svg" alt="">
            </span>
        </div>
    </div>
    <!-- background images end -->
    <div class="mw-760 mx-auto">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-6">多項國際認證，值得信賴</h3>
                <figure class="figure mb-6 text-center">
                    <img src="../../assets/images/SGS_big.png" class="img-fluid" alt="...">
                </figure>
                <div class="text-center mb-9">
                    <a href="ch/aboutUs_authentication.html" class="btn-block-primary">點我看專業認證 <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
                <h3 class="text-center mb-6">提供多個產業最專業的資安解決方案及服務</h3>
                <div class="row mb-6">
                    <div class="col-lg col-md-4 mb-3">
                        <div class="bg-white py-4 px-2 text-center">
                            <span class="d-block text-primary mb-2 index-icon"><i class="fa-solid fa-people"></i></span>
                            <span class="d-block">政府</span>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 mb-3">
                        <div class="bg-white py-4 px-2 text-center">
                            <span class="d-block text-primary mb-2 index-icon"><i class="fa-solid fa-microchip"></i></span>
                            <span class="d-block">高科技</span>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 mb-3">
                        <div class="bg-white py-4 px-2 text-center">
                            <span class="d-block text-primary mb-2 index-icon"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                            <span class="d-block">製造</span>
                        </div>
                    </div>
                    <div class="col-lg col-md-6 mb-3">
                        <div class="bg-white py-4 px-2 text-center">
                            <span class="d-block text-primary mb-2 index-icon"><i class="fa-solid fa-game-console-handheld"></i></span>
                            <span class="d-block">消費</span>
                        </div>
                    </div>
                    <div class="col-lg col-md-6 mb-3">
                        <div class="bg-white py-4 px-2 text-center">
                            <span class="d-block text-primary mb-2 index-icon"><i class="fa-solid fa-suitcase-medical"></i></span>
                            <span class="d-block">醫療</span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="ch/cases_lists.html" class="btn-block-primary">點我看成功案例 <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 國際級資安原廠合作夥伴 -->
<section class="py-9 index-agentProducts overflow-hidden">
    <div class="mw-760 mx-auto">
        <div class="row col-12">
            <h3 class="text-center text-white mb-6">國際級資安原廠合作夥伴</h3>
        </div>
        <div class="row mb-6 align-items-center">
            <div class="col-lg-4 col-md-6 mb-3">
                <a href="ch/represent_securityScorecard.html" class="d-block text-center text-lg-left text-md-right">
                    <figure class="figure">
                        <img src="../../assets/images/index/index_securityScorecard.png" class="img-fluid" alt="securityScorecard">
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <a href="ch/represent_rapid7_lists.html" class="d-block text-center text-lg-center text-md-left">
                    <figure class="figure">
                        <img src="../../assets/images/index/index_rapid7.png" class="img-fluid" alt="rapid7">
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <a href="ch/represent_skyhigh.html" class="d-block text-center text-md-right">
                    <figure class="figure">
                        <img src="../../assets/images/index/index_skyhigh.png" class="img-fluid" alt="skyhigh">
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <a href="ch/represent_illumio.html" class="d-block text-center text-md-left">
                    <figure class="figure">
                        <img src="../../assets/images/index/index_illumio.png" class="img-fluid" alt="illumio">
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <a href="ch/represent_neithnet.html" class="d-block text-center text-lg-center text-md-right">
                    <figure class="figure">
                        <img src="../../assets/images/index/index_neithnet.png" class="img-fluid" alt="neithnet">
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <a href="ch/represent_opswat.html" class="d-block text-center text-lg-right text-md-left">
                    <figure class="figure">
                        <img src="../../assets/images/index/index_opswat.png" class="img-fluid" alt="opswat">
                    </figure>
                </a>
            </div>
        </div>
        <div class="text-center">
            <a href="ch/represent_index.html" class="btn-block-primary text-white" title="更多合作夥伴">更多合作夥伴 <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
</section>
<!-- 全域聯防終極指南 -->
<section class="pt-9 overflow-hidden">
    <!-- background images start -->
    <div class="container-absolute bg-white">
        <div class="container h-100 position-relative">
            <span class="index-statements-bg position-absolute">
                <img src="../../assets/images/index/index-statements_bg.svg" alt="">
            </span>
        </div>
    </div>
    <!-- background images end -->
    <div class="mw-760 mx-auto">
        <div class="row index-statements">
            <div class="col-md">
                <article>
                    <h3 class="mb-5">全域聯防終極指南</h3>
                    <p class="text-justify mb-5">近年因疫情加上全球政經情勢動盪，多數商業服務由地端環境轉至雲端平台，因此遠端網路服務需求攀升的同時，資安威脅也相對提升。同時，許多企業依然苦於沒有足夠的資安人力全天候監控，也缺乏跨品牌、跨平台的資安關聯分析與回應，而形成了「孤島式資安」防禦模式。 </p>
                    <div class="mb-5 text-center text-md-left">
                        <a href="ch/statements_lists.html" class="btn-block-primary text-primary-800" title="前往下載">前往下載 <i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-md-auto">
                <figure class="figure text-center text-lg-right text-md-left">
                    <img src="../../assets/images/index/statements_banner.png" class="w-100" alt="...">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- vaideo -->
<section class="pt-9 pb-7 overflow-hidden">
    <!-- background images start -->
    <div class="container-absolute bg-gray-800">
        <div class="container h-100 position-relative">
            <span class="index-video-top position-absolute">
                <img src="../images/index/index-video-top.svg" alt="">
            </span>
            <span class="index-video-bottom position-absolute">
                <img src="../images/index/index-video-bottom.svg" alt="">
            </span>
        </div>
    </div>
    <!-- background images end -->
    <div class="mw-760 mx-auto">
        <div class="row">
            <div class="col-12">
                <h3 class="text-white text-center mb-5">MOC 資安監控維運服務</h3>
                <div class="ratio ratio-16x9 mb-6">
                    <iframe src="https://www.youtube.com/embed/Y0kq108JaAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 相關新聞 -->
<section class="pt-7 pb-9 bg-gray-50">
    <div class="mw-760">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center mb-5">
                    <h3>相關新聞</h3>
                    <div class="text-center text-md-left">
                        <a href="ch/news_lists.html" class="btn-block-primary text-primary-800" title="更多相關新聞">更多 <i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                </div>
                <div class="index-news-item">
                    <div class="index-news-item">
                        <a href="#">告別行銷資源浪費！老四川餐飲利用數據工具精準洞察客戶輪廓</a>
                        <span class="text-gray-400">2022 / 08 / 01（三）</span>
                    </div>
                    <div class="index-news-item">
                        <a href="#">告別行銷資源浪費！老四川餐飲利用數據工具精準洞察客戶輪廓</a>
                        <span class="text-gray-400">2022 / 08 / 01（三）</span>
                    </div>
                    <div class="index-news-item">
                        <a href="#">告別行銷資源浪費！老四川餐飲利用數據工具精準洞察客戶輪廓</a>
                        <span class="text-gray-400">2022 / 08 / 01（三）</span>
                    </div>
                    <div class="index-news-item">
                        <a href="#">告別行銷資源浪費！老四川餐飲利用數據工具精準洞察客戶輪廓</a>
                        <span class="text-gray-400">2022 / 08 / 01（三）</span>
                    </div>
                    <div class="index-news-item">
                        <a href="#">告別行銷資源浪費！老四川餐飲利用數據工具精準洞察客戶輪廓</a>
                        <span class="text-gray-400">2022 / 08 / 01（三）</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>