<div class="row counting">
    <div class="col-md-4">
        <div class="text-center mb-4 mb-md-0">
            <span class="index-number d-block mb-3 fw-bolder"><span class="animate-number" data-target="30">0</span>+</span>
            <span class="d-block fw-bolder fs-6">家自有/代理資安工具</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center mb-4 mb-md-0">
            <span class="index-number d-block mb-3 fw-bolder"><span class="animate-number" data-target="7">0</span>x<span class="animate-number" data-target="24">0</span></span>
            <span class="d-block fw-bolder fs-6">小時全天候資安監控</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center mb-0">
            <span class="index-number d-block mb-3 fw-bolder"><span class="animate-number" data-target="91">0</span>%</span>
            <span class="d-block fw-bolder fs-6">資安監控續約率</span>
        </div>
    </div>
</div>